.navWrap {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.nav {
    display: flex;
    flex-wrap: wrap;

    &__item {
        display: flex;
        height: 2.5rem;
        cursor: pointer;
        align-items: center;
        padding: 0 1rem;
        border: 1px solid rgba(21, 24, 27, 0.1);
        border-radius: 4px;

        font-size: 1rem;
        color: #3a54b1;
        margin: 0.25rem 0;

        &_active {
            background-color: rgba(21, 24, 27, 0.1);
        }

        &:not(:last-child) {
            margin-right: 0.5rem;
        }
    }
}

.clearBtn {
    font-size: 18px;
    color: #3a54b1;
    margin-left: 1rem;
}
