.logo {
    width: 5rem;
    height: 2.5rem;
    position: relative;
    margin-right: auto;
    object-fit: contain;
}

.footer {
    width: 100%;
    color: rgba(241, 241, 241, 1);
    background-color: rgba(21, 24, 27, 1);
    padding: 120px calc((100% - 1200px) / 2) 3rem;

    @media (max-width: 1280px) {
        padding: 120px 2.5rem 3rem;
    }

    @media (max-width: 640px) {
        padding: 3rem 20px;
    }

    &__header {
        width: 100%;
        display: flex;
        align-items: center;
        padding-bottom: 2rem;
        border-bottom: 3px solid rgba(241, 241, 241, 0.05);

        & > *:not(:last-child) {
            margin-right: 3rem;

            @media (max-width: 1024px) {
                margin-right: initial;
            }
        }
    }

    &__details {
        gap: 2rem;
        width: 100%;
        display: grid;
        padding: 2rem 0;
        grid-template-columns: repeat(4, 1fr);
        border-bottom: 3px solid rgba(241, 241, 241, 0.05);

        @media (max-width: 1024px) {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    &__nav {
        display: flex;
        flex-flow: column;
        align-self: flex-start;
        min-width: 15%;

        @media (max-width: 640px) {
            grid-column: 1 / span 2;
        }
    }

    &__navItem {
        font-family: Inter;
        font-size: 1rem;
        line-height: 1.45;
        letter-spacing: 0.1px;
        color: rgba(241, 241, 241, 1);

        &:not(:last-child) {
            margin-bottom: 12px;
        }
    }

    &__contacts {
        grid-column: 3 / span 4;

        @media (max-width: 1024px) {
            grid-column: 1 / span 2;
        }
    }

    &__contact {
        display: flex;
        align-items: center;

        svg {
            font-size: 20px;
            margin-right: 12px;
        }

        a {
            color: inherit;
        }
    }

    &__contact + &__contact {
        margin-top: 12px;
    }

    &__title {
        opacity: 0.5;
        font-size: 14px;
        margin-bottom: 12px;
        text-transform: uppercase;
    }
}

.social {
    display: flex;
    list-style: none;
    align-items: center;
    align-self: center;

    @media (max-width: 1024px) {
        margin-left: auto;
    }

    @media (max-width: 640px) {
        align-items: start;
    }

    &__item {
        display: block;

        a {
            width: 2.5rem;
            height: 2.5rem;
            display: flex;
            font-size: 1rem;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            background-color: rgba(241, 241, 241, 0.05);

            @media (max-width: 400px) {
                width: 2rem;
                height: 2rem;
            }
        }

        & + & {
            margin-left: 0.5rem;
        }

        svg {
            color: rgba(241, 241, 241, 1);
        }
    }
}

.searchForm {
    min-width: 50%;
    display: flex;
    align-items: center;
    padding: 0.5rem;
    margin-left: auto;
    border-radius: 5px;
    background-color: rgba(241, 241, 241, 0.05);

    @media (max-width: 1024px) {
        display: none;
    }

    &__input {
        width: 100%;
        font-size: 18px;
        letter-spacing: 0px;
        color: rgba(241, 241, 241, 0.3);
        padding: 0 0.5rem;
    }

    &__btn {
        height: 2.5rem;
        display: flex;
        padding: 0 2.5rem;
        align-items: center;
        justify-content: center;
        margin-left: auto;
        background-color: rgba(241, 241, 241, 0.05);
        border-radius: 5px;

        font-size: 14px;
        color: rgba(241, 241, 241, 1);
    }
}

.copyright {
    padding-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
    grid-column: 1 / span 2;
    font-family: Inter;
    grid-row: 2;

    @media (max-width: 1024px) {
        grid-row: 3;
    }

    @media (max-width: 768px) {
        font-size: 12px;
    }
}
